@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

.nav {
    
    width: 99%;
    padding: 10px;
    background-color: rgba(69, 68, 68, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: right;
}
.nav_link {
    margin-left: 50px;
    text-decoration: none;
    color: white;
    font-family: "Open Sans", sans-serif;
}

body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
    background-image: url('https://wallpapers.com/images/hd/minimalist-mountain-uc1it5a2r7pwgi79.jpg');
}

.container {
    text-align: center;
    width: 400px;
    height: 300px;
    background-color: rgb(69, 68, 68);
    border-radius: 13px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    overflow: auto;
}

.container_texto {
    color: white;
    font-family: "Open Sans", sans-serif;

}

.container_texto_vermelho {
    color: rgb(211, 34, 84);
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.container_botao {
    background-color: rgb(211, 34, 84);
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    text-decoration: none;
}

/* Estilos para a página de serviços */

.my_service_container {
    text-align: center;
    width: 400px;
    height: 300px;
    background-color: rgb(69, 68, 68);
    border-radius: 13px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    overflow: auto;
}