* {
    padding: 0;
    margin: 0;
    width: 100%;
}

html {
    scroll-behavior: smooth;
}

body {
    color: white;
    background-color: #010d23;
    font-family: 'Times New Roman', Times, serif;
}
.nav {
    position: fixed;
    top: 0;
    background-color: #00000065;
    width: 100%;
    z-index: 100;
    padding: 1.2rem;
}
.nav-coluna {
    text-align: center;
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 3rem;
}

.nav-link {
    text-decoration: none;
    font-weight: 500;
    position: relative;
    color: white;
    padding: 0.5rem 0;
}

.nav-link::after {
    content: '';
    height: 2px;
    width: 0%;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #2e00fa;
    transition: width 0.5s ease;
}

.nav-link:hover::after {
    width: 100%;
}

.imagem-central {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.foto {
    width: 300px;
    height: 300px;
    box-shadow: 0 0 20px rgba(79, 70, 229, 0.3);
    border-radius: 50%;
    border: 4px solid #010d23;
    margin: 30px 20px;
    
}

h1 {
    font-size: 3.5rem;
    font-weight: bold;
    margin: 30px 20px;
}

.inicio-paragrafo {
    font-size: 1.2rem;
    margin: 10px 20px;
}

.sobre {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.sobre-titulo {
    font-size: 2.5rem;
    font-weight: bold;
    padding: 20px 10px;
}

.sobre-caixa {
    padding: 2rem;
    max-height: 600px;
    margin: 0 auto;
    border-radius: 20px;
    border: 1px solid white;
    background-color: rgb(123, 93, 255);
    width: 40rem;
}

.sobre-texto {
    text-align: center;
    font-size: 1.5rem;
}

.portifolio {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.portifolio-titulo {
    font-size: 2.5rem;
    font-weight: bold;
    padding: 0 10px;
    margin-bottom: 2rem;
}

.portifolio-conteiner{
    display: flex;
    gap: 10px;
    margin: 0;
}


.portifolio-conteiner-solo{
    padding: 0 10px;
}

.portifolio-info{
    font-size: 1.4rem;
    font-weight: bold;
    padding: 1px;
    text-shadow: 2px 2px black;
    margin-top: 1.9rem;
}

.portifolio-paragrafo {
    text-align: center;
    border: white ;
    font-size: 1rem;
    width: 75%;
    margin: auto;
}


.imagem-portifolio {
    box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2), 0 6px 20px 0 rgba(255, 255, 255, 0.19);
    border-radius: 5%;
    border: 1px solid #010d23;
    height: 60%;
    width: 81%;
    -webkit-transition: -webkit-transform .5s ease;
    transition: transform .5s ease;
}

.imagem-portifolio:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.contato {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.contato-titulo {
    font-size: 2.5rem;
    margin-bottom: 2.8rem;
    text-align: center;
}

.formulario-contato {
    width: 40%;
}

.formulario-nome {
    height: 30px;
    border-radius: 10px;
}

input[type="text"],
textarea{
    font-family: 'Times New Roman', Times, serif;
    padding: 12px;
    font-size: 17px;
}

.formulario-mensagem {
    height: 100px;
    border-radius: 10px;
}

.contato-button-box {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.contato-button {
    font-size: 1.2rem;
    font-weight: bold;
    background-color: #050146;
    color: white;
    width: 60%;
    margin: 1rem;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2), 0 6px 20px 0 rgba(255, 255, 255, 0.19);
    transition: all 0.5s ease;
}

.contato-button:hover {
    font-size: 1.2rem;
    font-weight: bold;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    width: 83%;
    margin: 1rem;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2), 0 6px 20px 0 rgba(255, 255, 255, 0.19);
    transform: scale(1.2);
}

.modeloVisual0 {
    position: fixed;
    z-index: -1;
    width: 30%;
    height: 20%;
    top: 0;
    left: 0;
    opacity: 0.2;
    background-color: #0d03827a;
    border-bottom-right-radius: 50%;
    box-shadow: 
        inset 0 0 40px rgba(5, 1, 65, 0.97),
        inset 0 0 80px rgba(1, 9, 66, 0.961),
        inset 0 0 200px rgb(4, 0, 56);
    overflow: hidden;
    
}

.modeloVisual1 {
    position: fixed;
    z-index: -1;
    width: 30%;
    height: 20%;
    bottom: 0;
    right: 0;
    opacity: 0.2;
    background-color: #0d03827a;
    border-top-left-radius: 50%;
    box-shadow: 
        inset 0 0 40px rgba(5, 1, 65, 0.97),
        inset 0 0 80px rgba(1, 9, 66, 0.961),
        inset 0 0 200px rgb(4, 0, 56);
    overflow: hidden;
    
}

